
body, html{
	height: 100%;
}
body{
	overflow-y: scroll;
}

#container{
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}

$roboto-font-path: '../node_modules/materialize-css/dist/fonts/roboto/';
@font-face {
	font-family: "Roboto-Thin";
	src: local(Roboto Light), url('#{$roboto-font-path}Roboto-Light.eot');
	src: url("#{$roboto-font-path}Roboto-Light.eot?#iefix") format('embedded-opentype'),
	url("#{$roboto-font-path}Roboto-Light.woff2") format("woff2"),
	url("#{$roboto-font-path}Roboto-Light.woff") format("woff"),
	url("#{$roboto-font-path}Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}


.container{
	display: flex;
	flex-direction: column;
	flex: 1;
}

#content{
	/*overflow-y: auto;*/
	/*flex: 1;*/
	/*display: flex;*/
	/*flex-direction: column;*/
}

.view-dolphins #content{
	overflow-y: visible;
}

input[type=text]{
	color: black;
}

$ladder-header: #323232;
$ladder-highlight: #FF6C60;
$ladder-highlight-dim: #FFA8A1;


.page-title{
	margin-top: 0;
	display: flex;
	flex-direction: column;
	font-size: 3.0rem;
	font-family: "Roboto-Thin" ;
}

.title_tip{
	display: block;
	user-select: none;
	text-align: center;
	font-style: italic;
	margin-bottom: 8px;
}

.tabs .tab a{
	color: $ladder-highlight-dim;
}
.tabs .tab a:hover, .tabs .tab a.active{
	color: $ladder-highlight;
}

.page-title{
	user-select: none;

	.site_name{
		display: flex;
		justify-content: center;
	}
	.logo-smash{
		color: $ladder-header
	}
	.logo-ladder{
		color: $ladder-highlight;
	}
	.logo-smash, .logo-ladder{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.logo-dolphin{
		display: block;
	}
}

.dolphin .progress{
	display: none;
	position: absolute;
}

.dolphin .is_testing{
	display: none;
}

.dolphin{
	.download, .stop-download, .is_downloading, .download-options{
		display: none;
	}
}
.dolphin.has_download{
	.download-options{
		display: block;
	}
	.download{
		display: inline-block;
	}
	.stop-download{
		display: none;
	}
	.percent, .speed, .unzipping{
		display: none;
	}
}
.dolphin.has_speeds{
	.percent, .speed{
		display: inline;
	}
}
.dolphin.is_unzipping{
	.unzipping{
		display: inline;
	}
	.percent, .speed, .downloading, .stop-download{
		display: none;
	}
}
.dolphin.is_downloading{
	.progress.animated{
		display: block;
	}
	.is_downloading{
		display: block;
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: 18px;
		z-index: 3;
		bottom: 2px;
	}
	.download{
		display: none;
	}
	.stop-download{
		display: inline-block;
	}
	.status_text{
		display: inline;
	}
}
.dolphin.has_path{
	.download-options{
		display: none;
	}
}

.dolphin.is_testing{
	.progress.animated{
		display: block;
	}
	.is_testing{
		display: block;
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: 18px;
		z-index: 3;
		bottom: 2px;
	}
}


.dolphin{
	.features{
		vertical-align: bottom;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		margin-left: 8px;
		display: none;
	}

	.is_smart_dolphin, .is_dumb_dolphin{
		display: none;
	}
	.options{
		margin-bottom: 1em;
	}

	.options .input-field{
		margin-top: 0;
	}
	.file-field input{
	}

	input[name=file_location] {
		cursor: pointer;
	}

}

.dolphin.is_dumb_dolphin .is_dumb_dolphin{
	display: inherit;
}
.dolphin.is_smart_dolphin .is_smart_dolphin{
	display: inherit;
}
.dolphin.highlighted .progress.animated{
	display: block;
}
.dolphin.working .progress.animated{
	display: block;
}
.dolphin .progress.static{
	display: block;
	opacity: 0;
	transition: 1s;
}
.dolphin.downloading .progress.static{
	opacity: 1;
	transition: 1s;
}

.dolphin{
	.options{
		display: none;
	}
}
.dolphin.has_path{
	.options{

		display: block;
	}
}


.dolphin .close{
	display: none;
}
.dolphin.opened{
	.progress.static{
		display: block;
		opacity: 1;
	}
	.progress.static .determinate{
		width: 100%;
	}
	.test-launch{
		display: none;
	}
	.close{
		display: inline-block;
	}
}



.dolphin .progress.static .determinate{
	width: 1px;
	transition: 1s;
}


.template{
	display: none !important;
}

#container{
	padding-top: 16px;
}

#main-heading{
	background-color: white;
	text-align: center;
}

#main-heading .front-logo{
	max-width: 85%;
	opacity: 0;
}

.login_form{
	display: block;
	background-color: white;
	z-index: 1;
	position: relative;

	.preloader-wrapper{
		position: absolute;
		margin-left: 8px;
	}

	input ~ .error-message{
		display: none;
	}

	input.invalid ~ .error-message{
		display: block;
		color: #F44336;
	}
}


#logout_button .preloader-wrapper{
	position: absolute;
	top: -16px;
	right: 16px;
}

#logged_in .progress{
	display: none;
}

#logged_in.socket_connecting{
	#socket_connecting{
		display: block;
		width: 100%;
		bottom: 16px;
	}
	.progress{
		display: block;
		position: absolute;
		width: 101%;
		margin: 0;
		padding: 0;
		top: 0;
		left: -1px;
	}
}

#logged_in.socket_connected{
	#socket_connecting{
		display: none;
	}
}

#loading{
	text-align: center;
}

#dolphins{
	flex: 1;
	display: flex;
	flex-direction: column;
}
#dolphins .dolphin{
	opacity: 0;
	position: relative;
}

#dolphins .heading .switch{
	vertical-align: bottom;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-right: 8px;
}
#dolphins .dolphin.disabled{
	.disable_build{
		display: none;
	}
	.heading_text{
		color: gray;
		font-style: italic;
	}
}

#dolphins .dolphin.enabled{
	.enable_build{
		display: none;
	}
}

.dolphin .heading{
	display: flex;
}

.dolphin .heading .build_toggle{
	margin-right: 8px;
}

#dolphins .loading{
	display: none;
}

#dolphins .builds{
	/*display: flex;*/
	/*flex-direction: column;*/
	/*overflow-y: auto;*/
	/*margin-bottom: 8px;*/
	border: none;
}

.builds.production{
	.options{
		display: none;
	}
	.host_code_input{
		display: none;
	}
	.close{
		display: none;
	}
	.test-launch{
		display: none;
	}
}


#dolphins.loading .reset_all, #dolphins.loading .builds{
	display: none;
}

#dolphins .reset_all{
	margin-bottom: 1em;
}

#dolphins.loading .loading{
	display: block;
	text-align: center;
	margin: auto;
	font-style: italic;
}


#logged_in{
	display: none;
}
#logged_in.active{
	display: flex;
	flex-direction: column;
	padding: 4px;
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: #323232;;
	height: 29px;
	color: white;
}


#logged_in .logged_in_status{
	display: flex;
	flex-direction: row;
}

.logged_in_as{
	pointer-events: none;
	flex: 1;
}

.logged_in_as .username{
	margin-right: 16px;
}

#logout_button{
	.button{
		height: 22px;
		line-height: 20px;
	}
}
#logged_in{
	.log_out{
		text-align: right;
		cursor: pointer;
		right: 4px;
		top: 4px;
		position: absolute;

	}
	.log_out.logging_out{
		cursor: default;
	}
}

#logout_button.logging_out{
	.button {
		display: none;
	}
	.logging_out {
		display: block;
		position: relative;
	}
}

#stats{
	#menu{
		display: none;
	}
	#css_character_container{
		display: flex;
		min-height: 32px;
	}
	#css_character_container{
		.character_icon{
			width: 32px;
			text-align: center;
		}
		.css_character{
			margin-right: 4px;
		}
		.css_character .player_number{
			display: none;
		}
	}
}
#stats.connected{
	#menu{
		display: block;
		display: none;
	}
}


#logout_button .logging_out{
	display: none;
}

#dolphin_players{
	display: flex;
	flex-direction: row;
}
#dolphin_players{
	.dolphin_logo{
		margin-right: 16px;
	}
	.dolphin_players{
		flex: 1;
		display: flex;
		flex-direction: row;
	}
	.dolphin_player{
		flex-grow: 1;
	}
	.dolphin_logo, .dolphin_player{
		display: flex;
		align-items: center;
	}
	.player_number{
		font-size: 18px;
		display: inline-block;
		margin-right: 4px;
	}
	.players{
		display: flex;
		flex-direction: row;
	}
}
.match_stats_display{

	.match .card-title{
		position: absolute;
		top: 0;
		left: auto;
	}
	.time_remaining{
		font-size: 16px;
		position: absolute;
		right: 0;
		margin-right: 8px;
	}

	.player_stats{
		.stocks{
			display: flex;
		}
		.stocks .stock_group{
			flex: 1;
		}
		.stocks .match_stocks{
			text-align: left;
		}
		.stocks .match_specific_kills{
			text-align: right;
		}
		.match_character{
			margin-right: 16px;
		}
		.player_information{
			display: flex;
			flex-direction: row;
		}
		.collection-item{
			flex: 1;
			overflow: hidden;
			text-align: right;
		}
		.collection-item.action-item{
			flex: 2;
			overflow: hidden;
			max-width: 120px;
		}
		.player_name{
			font-size: 16px;
			flex-grow: 2;
			text-align: left;
			white-space: nowrap;
		}
		.match_action{
			font-size: 11px;
			white-space: nowrap;
			margin-left: 16px;
		}
		.collection-item span{
			display: block;
			text-align: right;
		}

		.player_template{
			display: flex;
			flex-direction: row;
			flex: 1;
		}

	}

	.players{
		clear: both;
	}

	.match_stage{
		height: 96px;
		text-align: center;
		border-radius: 4px;
	}

	.match_stage .stage_icon{
		max-height: 100%;
	}



	.dolphin_player {
		display: inline-block;
		margin-right: 20px;
	}

	.stock_icon.dead{
		opacity: .6;
	}

	.match{
		display: flex;
		flex-direction: column;
	}

	.stock_container{
		display: flex;
		flex-direction: column;
		width: 42px;
	}

	.match_stocks{
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.stock_container.started .percent_container{
		display: inline-block;
		line-height: 14px;
		text-align: center;
		width: 100%;
		max-width: 34px;
	}

	.stock_container .percent_container{
		display: none;
	}

	.match_status .progress{
		display: none;
	}
	.time_remaining{
		font-size: 16px;
	}
	.player_stats .card-content{
		padding: 16px 10px;
	}
	.player_stats .card-content{
		.match_specific_kills{
			display: block;
			font-style: italic;
			height: 57px;
			overflow: hidden;
		}
		.titled{
			text-align: center;
			display: block;
			text-decoration: underline;
		}
	}
	.player_stats .card-action{
		padding: 16px 10px;
	}
	.stage_icon{

	}
}

.match_stats_display.active{

	.match_status .progress{
		display: block;
	}
}

.match_stats_display{
	display: none;
}

.match_stats_display.ended{
	display: none;
}

.match_stats_display .ended{
	display: none;
}
.match_stats_display.ended{
	.ended{
		display: inline-block;
	}
}

.match_stats_display .paused{
	display: none;
}
.match_stats_display.paused{
	.paused{
		font-size: 12px;
		display: block;
	}
}

.match_stats_display.selected{
	display: block;
}

.match_stats_display .error{
	display: none;
}

.match_stats_display.ladder_error .error{
	display: block;
}

.ss_logo{
	display: flex;
	justify-content: center;
	background-color: #2a2a2a;
	padding: 4px;
	width: 50px;
	height: 48px;
	float: right;
}
.ss_logo{
	img{
		max-width: 100%;
		height: auto;
	}
}