<form id='login_2' class='login_form'>
	<div class="input-field">
		<input id='ladder_code' type="password" name='ladder_code' autofocus='autofocus'>
		<label for="ladder_code" class="">Ladder Code</label>
		<div class='error-message'></div>
	</div>
	<button style='display: none;' type='submit' class='btn waves-effect '>Login</button>

	<a class='retrieve_code' href='' target='_blank'>Retrieve A Login Code</a>



	<div class="preloader-wrapper small">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>eeee
			</div>
		</div>
	</div>
</form>